
// Colors 

$white_global: #fff;
$darkgrey_global: #1c1c1c;
$black_global: #000;
$black_global_40:#c1c1c1;
$black_global_20:#dad8d8;
$black_global_10: #ededed71;
$green_global: #00a046;
$green_global_80:#00bd52;
$red_global: #f73f3f;
$red_global_20: #fa6363;
$orange_global: #ffbb00;
$red_global_dark: #910101;
$yellow_global:#ffc800;
$blue_global: #3e77aa;
$blue_global_20: #579ad4;
$blue_global_10: #3483c90c;


//Media
$desktop: 1600px;


//Style

$tin_line: 1px;