@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --darkgrey: #1c1c1c;
  --black: #000;
}


body {
  color: var(--darkgrey);
  background-color: var(--white);
}

header {
  background-color: var(--darkgrey);
  color: var(--white);
  height: 10vh;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

main {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 700;
}

footer {
  height: 5vh;
  background-color: var(--darkgrey);
  color: var(--white);
}

.header-logo{

}

.header-menu{
  display: flex;
}

.header-menu > li {
  margin: 0px 10px;
}

