@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white_global: #fff;
  --darkgrey_global: #1c1c1c;
  --black_global: #000;
  --black_global_40:#c1c1c1;
  --black_global_20:#dad8d8;
  --black_global_10: #ededed71;
  --green_global: #00a046;
  --green_global_80:#00bd52;
  --red_global: #f73f3f;
  --red_global_20: #fa6363;
  --orange_global: #ffbb00;
  --red_global_dark: #910101;
  --yellow_global:#ffc800;
  --blue_global: #3e77aa;
  --blue_global_20: #579ad4;
  --blue_global_10: #3483c90c;
  --width_dt: 1600px;

}


body {
  color: var(--darkgrey_global);
  background-color: var(--white_global);
}

header, main, footer {
  display: flex;
  justify-content: center;
}

header {
  background-color: var(--darkgrey_global);
  color: var(--white_global);
  height: 72px;
  font-size: 16px;
  align-items: center;
  padding: 0px 10px;
  top: 0;
  position: sticky;
  z-index:5;
}

main {
  min-height: 1280px;
}

footer {
  flex-direction: column;
  color: var(--white);
  background-color: var(--black_global_10);
}

button, .checkbox-filter>li, .custom-checkbox, .reload-block{
  cursor: pointer;
  transition-duration: .2s;
  transition-property: color, background-color, border-color;
  transition-timing-function: ease-in-out;
  border: none;
  outline: none;
}

.header-layout, .main-layout{
  display: flex;
  width: var(--width_dt);
}


.grey{
  color: var(--black_global_40);
}


/* HEADER START */

.header-layout{
  justify-content: space-between;
  align-items: center;
}

.header-logo{
  margin: 0px 24px 0px 0px;
  width: 400px;
}

.header_fat-menu{
  margin: 0px 24px 0px 0px;
  padding: 1px 16px;
  height: 40px;
  background-color: #fff3;
  color: var(--white_global);
  font-size: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_fat-menu:hover, .header-actions_button:hover{
  background-color: #888888;
}

.svg_fat-menu{
  margin: 0px 8px 0px 0px;
  font-size: 28px;
}

.header_search_form{
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.header_search_input{
  height: 100%;
  width: 100%;
  padding:0px 0px 0px 40px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg fill='%234E4C4C' height='18' viewBox='0 0 24 24' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath clip-rule='evenodd' d='M10 2a8 8 0 104.906 14.32l5.387 5.387a1 1 0 001.414-1.414l-5.387-5.387A8 8 0 0010 2zm-6 8a6 6 0 1112 0 6 6 0 01-12 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 12px;
  color: var(--black_global);
  border-radius: 3px 0 0 3px;
  border: none;
  outline: none;  
}

.top-information{
  height: 32px;
  background-color: var(--green_global);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white_global);
  font-weight: 700;
}
.header-menu{
  display: flex;
}

.header_search_submit{
  background-color: var(--green_global);
  color: var(--white_global);
  font-size: 16px;
  height: 100%;
  padding: 0px 16px 0px 16px;
  border-radius: 0 3px 3px 0;
  margin: 0px 0px 0px 0px;
  border: none;
  outline: none;  
}

.header_search_submit:hover {
  background-color: var(--green_global_80);
}

.header-menu > li {
  margin: 0px 10px;
}

.header-actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-actions_button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin: 0px 0px 0px 24px;
}

.header-actions_cart {
  color:var(--white_global);
  font-size: 32px;
}

/* HEADER END */


/* MAIN LAYOUT START */

.main-layout{
  flex-direction: column;
}

.page-breadcumbs{
  display: flex;
  font-size: 14px;
  margin: 16px 0px 8px 0px;
  color: var(--black_global);
}

.page-breadcumbs :only-child :hover{
  color: var(--red_global);
}

.page-breadcumbs>ul{
  display: flex;
  list-style-type: none;
}


.page-breadcumbs li:not(:first-child){
  padding-left: 5px;
  content: '/';
}

.page-breadcumbs_homesvg{
  font-size: 18px;
}
.page-title{
  color: var(--black_global);
}

.page-title>h1{
  font-size: 30px;
  font-weight: 700;
}

/* MAIN LAYOUT END */


/* GOODS GRID START */
.catalog-settings{
  display: flex;
  justify-content: space-between;
  background-color: var(--white_global);
  border-bottom: 0.1px solid var(--black_global_20);
  padding: 16px 0px;
  top: 72px;
  z-index:2;
  position: sticky;
}

.catalog-settings_filter{
  display: flex;
  align-items: center;
  font-size: 14px;

}

.catalog-settings_filter_btn_cancel, .catalog-settings_filter_btn_check{
  color:var(--black_global);
  margin-left: 12px;
  border-radius: 20px;
  border: .1px solid;
}

.catalog-settings_filter_btn_cancel{
  margin-left: 12px;
  padding: 5px 20px;
  border-radius: 20px;
  border-color: var(--red_global_20);
}

.catalog-settings_filter_btn_cancel:hover{
  color:var(--white_global);
  background-color: var(--red_global_20);
}

.catalog-settings_filter_btn_check{
  display: flex;
  align-items: center;
  padding: 5px 5px 5px 20px;
  border-color: var(--black_global_40);
}

.catalog-settings_filter_btn_check:hover{
  background-color: var(--black_global_20);
}

.cancel_round{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--red_global_20);
  font-size: 12px;
  height: 22px;
  width: 22px;
  border-radius: 20px;
  margin-left: 5px;
  background-color: var(--white_global);
}

.catalog-settings_sorting{
  display: flex;
}

.grid-two, .grid-three{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  height: 32px;
  width: 40px;
}

.grid-two{
  color: var(--white_global);
  background-color: var(--blue_global);
  border: .1px var(--blue_global) solid;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.grid-three{
  color: var(--blue_global);
  background-color: var(--white_global);
  border: .1px var(--black_global_20) solid;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.catalog-settings_sorting>select{
  background-color: #fff;
  border: 1px solid #d2d2d2;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg fill='%233e77aa' viewBox='0 0 13 7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.5 7a.956.956 0 0 1-.657-.256l-5.57-5.25a.839.839 0 0 1 0-1.237.968.968 0 0 1 1.312 0L6.5 4.888 11.415.257a.968.968 0 0 1 1.313 0 .839.839 0 0 1 0 1.237l-5.572 5.25A.956.956 0 0 1 6.5 7Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 14px 9px;
  background-position: right 12px center;
  border-radius: 8px;
  font-size: 14px;
  height: 32px;
  padding-left: 12px;
  padding-right: 40px;
  margin-right: 16px;
  cursor: pointer;
}
/* .catalog-settings_sorting>select::-ms-expand { display: none; } */
.catalog-settings_sorting>select:hover { border-color: #a8a6a6; } 
.catalog-settings_sorting>select:focus { 
  border-color: #aaa;
  box-shadow: 0 0 0px 1px var(--blue_global_20);
  box-shadow: 0 0 0 2px -moz-mac-focusring; 
  color: #222;
  outline: none; 
} 

.catalog_block{

}

.catalog-container{
  display: flex;
}

.catalog-container_settings{
  width: 100%;
  /* border-left: 0.1px solid var(--black_global_20); */
  border-right: 0.1px solid var(--black_global_20);
  border-bottom: 0.1px solid var(--black_global_20);
}

.catalog-grid{
  display: flex;
  flex-direction: column;
}

.catalog-grid_container{
  display: flex;
  max-width: 1280px; 
}

.catalog-grid__container_item{
  min-width: 320px;
  max-height: 550px;
  padding: 8px;
  width: 25%;
  border-bottom: 0.1px solid var(--black_global_20);
  border-right: 0.1px solid var(--black_global_20);

}

.goods-tile{
  display: flex;
  flex-direction: column;
  padding: 8px;
  font-size: 14px;
  min-height: 400px;
  position: relative;
}

.history-views_container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

.history-views_container>span{
font-weight: 600;
}

.history-views_container_grid{
  display: flex;
  height: 100%;
}

.history-views_tile{
  margin: 10px 10px 10px 0px;
  width: 220px;
  border-right: 0.1px solid var(--black_global_20);
  border-top: 0.1px solid var(--black_global_20);
  border-bottom: 0.1px solid var(--black_global_20);
}

/* tile top actions and promo sticks BEGIN*/

.tile_top{
  background-color: #000;
  position: absolute;
}

.tile_top_promo{
  position: absolute;

}

.best_sale{
  text-transform: uppercase;
  padding: 2px 10px;
  font-size: 14px;
  font-weight: 600;
  color: var(--white_global);
  background-color: var(--red_global);
  border-radius: 14px;
}

.tile_top_actions{
  display: flex;
  flex-direction: column;
  position: absolute; 
  right: 0;

}

.tile_top_actions_btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin-bottom: 2px;
  background-color: var(--white_global);
  border-radius: 6px;
}

.tile_top_actions_btn:hover{
  background-color: var(--blue_global_10);
}

.favor_svg{
  font-size: 24px;
  color: var(--yellow_global);
}

.compare_svg{
  font-size: 24px;
  color: var(--black_global_40);

}

/* tile top actions and promo sticks END */

.img_tile{
  padding-top: 30%;
  padding-bottom: 10%;

}

.tile_description{
  margin: 20px 0px 8px;
  width: 100%;
  height: 38px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tile-price_old{
  font-size: 14px;
  color: var(--black_global_20);
  text-decoration: line-through;
  margin: 0px 0px 0px 0px;
}

.tile-price_block{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tile_price{
  font-size: 24px;
  color: var(--red_global);
}

.tile_cart{
  color: var(--green_global);
  font-size: 28px;
}

.tile-rating_block{
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.tile-rating{
  display: flex;
  margin: 0px 8px 0px 0px;
}

.star-yellow{
  color: var(--yellow_global);
  font-size: 14px;
}

.star-grey{
  color: var(--black_global_20);
  font-size: 14px;
}

.tile-rating_text{
  font-size: 12px;
  color: var(--blue_global);
}

.tile_delivery{
  font-size: 12px;
  color: var(--green_global);
  margin: 0px 0px 4px;
  display: flex;
  align-items: center;

}

.svg_delivery{
  margin: 0px 8px 0px 5px;
  height: 26px;
  width: 26px;
  
}

.currency {
  margin-left: 4px;
  font-size: 18px;
}

/* GOODS GRID END */

/* SIDEBAR START */
.sidebar-container{
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.sidebar-block{
  padding: 0px 8px;
  border-bottom: 0.1px solid var(--black_global_20);
}

.sidebar-block-toggle{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 8px 8px 8px 8px;
  color: var(--blue_global);
}

.sidebar-block-arrow{
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg fill='%233e77aa' viewBox='0 0 13 7' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.5 7a.956.956 0 0 1-.657-.256l-5.57-5.25a.839.839 0 0 1 0-1.237.968.968 0 0 1 1.312 0L6.5 4.888 11.415.257a.968.968 0 0 1 1.313 0 .839.839 0 0 1 0 1.237l-5.572 5.25A.956.956 0 0 1 6.5 7Z'/%3E%3C/svg%3E"); 
  background-repeat: no-repeat;
  background-size: 16px;
  transform: rotate(180deg);
  background-position: center;
}

.sidebar-block-arrow:hover{
  transform: rotate(0deg);
  animation-name: rotate;
  animation-duration: .5s;
}

@keyframes rotate {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.checkbox-filter>li{
  padding: 8px 8px 8px 8px;
}

.checkbox-filter>li:hover{
  background-color: var(--blue_global_10);
}

.custom-checkbox{
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  width: 100%;
}

.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
  border-color: var(--green_global);
  background-color: var(--green_global_80);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* cursor on checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: var(--black_global);
}

.range-filter{
  display: flex;
  flex-direction: column;
}

.price_range_blocks{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}
.price_range_blocks>button{
  width: 60px;
  height: 40px;
  margin-left: 5px;
  color: var(--blue_global);
  background-color: var(--black_global_10);
  border: .1px var(--black_global_40) solid;
  border-radius: 10px;
}

.range{
  width: 100%;
  background-color: #00a046;
}

.input_price_range{
  width: 80px;
  height: 40px;
  font-size: 14px;
  text-align: center;
  border: .1px var(--black_global_20) solid;
  border-radius: 10px;
}

/* SIDEBAR END */

/* PAGINATION START */

.reload-block{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--blue_global);
  padding: 12px 12px;
  border-bottom: .1px var(--black_global_20) solid;
}

.reload-icon {
  font-size: 80px;
  margin-right: 10px;
}


.pagination{
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.pagination_arrow_block{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 68px;
  height: 45px;
  color: var(--blue_global);
  border: .1px var(--black_global_10) solid;
  background-color: var(--black_global_10);
  border-radius: 8px;
  cursor: pointer;
}

.pagination_arrow_block:hover, .reload-block:hover, .navigation_item>a:hover{
  color: var(--red_global);
}

.pagination_arrow_bck, .pagination_arrow_fwd{
  font-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.pagination_arrow_bck{
  transform: rotate(90deg);
}

.pagination_arrow_fwd{
  transform: rotate(-90deg);
}



.pagination-navigation{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 24px;
}

.pagination-navigation_list{
  display: flex;
  justify-content: center;
  
  
}

.navigation_item {
  list-style: none;
  margin-left: 5px;

}

.navigation_item>a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  font-weight: 500;
  font-size: 18px;
  color: var(--blue_global);
  border: .1px var(--black_global_20) solid;
  border-radius: 5px;
  cursor: pointer;
}



.navigation_item>a:hover, a.active{
  border-color: var(--blue_global);
}

/* PAGINATION END */

/* OTHER ELEMENTS */

.description-catalog{
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 14px;
  text-align: justify;
  color: var(--black_global_40);
}


/* FOOTER START */

.footer-layout{
  display: flex;
  flex-direction: column;
}

.footer-download{
  display: flex;
  justify-content: center;
  padding: 20px 0px;
  background-color: var(--green_global);
  color: var(--white_global);
  font-size: 20px;
  font-weight: 600;
}

.footer-download_content, .footer-map_content, .footer-copyright_content{
  width: var(--width_dt);
}

.footer-map{
  display: flex;
  justify-content: center;
  height: 300px;
  font-size: 12px;
  padding: 25px 0px;
}

.footer-map_content{
  display: flex;
  justify-content: space-between;
}

.map_content_item{
  display: flex;
  justify-content: space-between;
}

.footer-copyright{
  display: flex;
  justify-content: center;
  height: 60px;
}

.footer-copyright_content{
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 14px;
  border-top: .1px var(--black_global_40) solid;
}

/* FOOTER END */
