@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white_global: #fff;
  --darkgrey_global: #1c1c1c;
  --black_global: #000;
  --black_global_20:#b5b5b5;
  --green_global: #00a046;
  --green_global_80:#00bd52;
  --red_global: #f73f3f;
  --red_global_dark: #910101;
  --yellow_global:#ffc800;
  --blue_global: #3e77aa;
  --width_dt: 1600px;

}




body {
  color: var(--darkgrey_global);
  background-color: var(--white_global);
}

header {
  background-color: var(--darkgrey_global);
  color: var(--white_global);
  height: 72px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
  top: 0;
  position: sticky;
}

main {
  min-height: 1280px;
  display: flex;
  justify-content: center;
}

footer {
  height: 100px;
  background-color: var(--darkgrey_global);
  color: var(--white);
}

button{
  cursor: pointer;
  transition-duration: .2s;
  transition-property: color, background-color, border-color;
  transition-timing-function: ease-in-out;
  border: none;
  outline: none;
}


/* HEADER START */

.header-layout{
  display: flex;
  width: var(--width_dt);
  justify-content: space-between;
  align-items: center;
}

.header-logo{
  margin: 0px 24px 0px 0px;
  width: 400px;
}

.header_fat-menu{
  margin: 0px 24px 0px 0px;
  padding: 1px 16px;
  height: 40px;
  background-color: #fff3;
  color: var(--white_global);
  font-size: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_fat-menu:hover, .header-actions_button:hover{
  background-color: #888888;
}

.svg_fat-menu{
  margin: 0px 8px 0px 0px;
  font-size: 24px;
}

.header_search_form{
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.header_search_input{
  height: 100%;
  width: 100%;
  padding:0px 0px 0px 40px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg fill='%234E4C4C' height='18' viewBox='0 0 24 24' width='18' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath clip-rule='evenodd' d='M10 2a8 8 0 104.906 14.32l5.387 5.387a1 1 0 001.414-1.414l-5.387-5.387A8 8 0 0010 2zm-6 8a6 6 0 1112 0 6 6 0 01-12 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 12px;
  color: var(--black_global);
  border-radius: 3px 0 0 3px;
  border: none;
  outline: none;  
}

.top-information{
  height: 32px;
  background-color: var(--green_global);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white_global);
  font-weight: 700;
}
.header-menu{
  display: flex;
}

.header_search_submit{
  background-color: var(--green_global);
  color: var(--white_global);
  font-size: 16px;
  height: 100%;
  padding: 0px 16px 0px 16px;
  border-radius: 0 3px 3px 0;
  margin: 0px 24px 0px 0px;
  border: none;
  outline: none;  
}

.header_search_submit:hover {
  background-color: var(--green_global_80);
}

.header-menu > li {
  margin: 0px 10px;
}

.header-actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-actions_button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff3;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  margin: 0px 24px 0px 0px;

}

.header-actions_cart {
  color:var(--white_global);
  font-size: 32px;
}

/* HEADER END */


/* MAIN LAYOUT START */

.main-layout{
  display: flex;
  flex-direction: column;
  width: var(--width_dt);
}

.page-breadcumbs{
  display: flex;
  font-size: 14px;
  margin: 16px 0px 8px 0px;
  color: var(--black_global);
}

.page-breadcumbs :only-child :hover{
  color: var(--red_global);
}

.page-breadcumbs>ul{
  display: flex;
  list-style-type: none;
}


.page-breadcumbs li:not(:first-child){
  padding-left: 5px;
  content: '/';
}

.page-breadcumbs_homesvg{
  font-size: 18px;
}
.page-title{
  color: var(--red_global_dark);
}

.page-title>h1{
  font-size: 30px;
  font-weight: 700;
}



/* MAIN LAYOUT END */


/* GOODS GRID START */
.catalog-settings{
  display: flex;
  justify-content: space-between;
}

.catalog-container{
  display: flex;
  margin-top: 50px;
}

.catalog-container_settings{
  width: 100%;
  border: 0.1px solid var(--black_global_20);
}

.catalog-grid{
  display: flex;
  max-width: 1280px; 
}

.catalog-grid_item{
  min-width: 320px;
  max-height: 550px;
  padding: 16px;
  width: 25%;
  border-top: 0.1px solid var(--black_global_20);
  border-right: 0.1px solid var(--black_global_20);

}

.goods-tile{
  display: flex;
  flex-direction: column;
  font-size: 14px;
  height: 500px;


}

.img_tile{
  padding-top: 30%;
  padding-bottom: 10%;

}

.tile_description{
margin: 20px 0px 8px;
width: 100%;
height: 38px;
overflow: hidden;
text-overflow: ellipsis;
}

.tile-price_old{
  font-size: 14px;
  color: var(--black_global_20);
  text-decoration: line-through;
  margin: 0px 0px 0px 0px;
}

.tile-price_block{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tile_price{
font-size: 24px;
color: var(--red_global);
}

.tile_cart{
  color: var(--green_global);
  font-size: 28px;
}

.tile-rating_block{
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.tile-rating{
  display: flex;
  margin: 0px 8px 0px 0px;
}

.star-yellow{
  color: var(--yellow_global);
  font-size: 14px;
}

.star-grey{
  color: var(--black_global_20);
  font-size: 14px;
}

.tile-rating_text{
  font-size: 12px;
  color: var(--blue_global);
}

.tile_delivery{
  font-size: 12px;
  color: var(--green_global);
  margin: 0px 0px 4px;
  display: flex;
  align-items: center;

}

.svg_delivery{
  margin: 0px 8px 0px 5px;
  height: 26px;
  width: 26px;
  
}

.currency {
  margin-left: 4px;
  font-size: 18px;
}

/* GOODS GRID END */

