.goods-tile{
    display: flex;
    flex-direction: column;
    padding: 8px;
    font-size: 14px;
    min-height: 400px;
    position: relative;


    .tile_top_promo{
        position: absolute;

        .promo {
            text-transform: uppercase;
            padding: 4px 10px;
            font-size: 14px;
            font-weight: 600;
            color: $white_global;
            border-radius: 14px;
        }

        .top_sale {
        background-color: $orange_global;
        }

        .promotion {
        background-color: $red_global;
        }

        .discount {
        background-color: $purple_global;
        }

    }

    .tile_top_actions{
        display: flex;
        flex-direction: column;
        position: absolute; 
        right: 0;
        
        &_btn{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 5px;
            padding: 5px;
            background-color: $white_global_hsla_10;
            border-radius: 6px;

            &:hover{
                background-color: $blue_global_hsla_10;
            }
            
            .favor_svg{
                font-size: 24px;
                color: $yellow_global;
            }
              
            .compare_svg{
                font-size: 24px;
                color: $black_global_40;  
            }
        }
    }
    
    .img_container{
        display: flex;
        padding-top: 30%;
        padding-bottom: 30%;
        height: 370px;


        .img_tile{
            width: 100%;

        }

    }


    .tile_description{
        font-size: 14px;
        margin: 20px 0px 8px;
        width: 100%;
        height: 29px;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .tile-rating_block{
        display: flex;
        align-items: center;
        margin-bottom: 8px;

        .tile-rating{
            display: flex;
            margin: 0px 8px 0px 0px;

            .star-yellow{
                color: $yellow_global;
                font-size: 14px;
            }
              
            .star-grey{
                color: $black_global_20;
                font-size: 14px;
            }
        }
        
        .tile-rating_text{
            font-size: 12px;
           
        }
    }

    .tile-price_old{
        font-size: 14px;
        color: $black_global_20;
        text-decoration: line-through;
        margin: 0px 0px 0px 0px;
    }

    .tile-price_block{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .tile_price{
            font-size: 24px;
            color: $red_global;
    
            .currency {
                margin-left: 4px;
                font-size: 18px;
            }
        }
    }

    .tile-rating_block{
        display: flex;
        align-items: center;
        margin-bottom: 8px;

    }


    .tile_actions_btn{

        border-radius: 6px;


        .tile_cart{
            color: $green_global;
            font-size: 28px;
        }

        &:hover{
            background-color: $blue_global_hsla_10;
          }
          
    }

    .tile_delivery{
        font-size: 12px;
        color: $green_global;
        margin: 0px 0px 4px;
        display: flex;
        align-items: center;

        .svg_delivery {
            margin: 0px 8px 0px 5px;
            height: 26px;
            width: 26px; 
        } 
    }     

}



.history-views_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;

    span{
        font-weight: 600;
    }

    &_grid{
        display: flex;
        height: 100%;

        .history-views_tile{
            margin: 10px 10px 10px 0px;
            width: 220px;
            border-right: $tin_line solid $black_global_20;
            border-top: $tin_line solid $black_global_20;
            border-bottom: $tin_line solid $black_global_20;
        }
    }
}
  
  
